* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-style: normal;
}

body {
    color: #3E3F42;
    font-family: 'Heebo', sans-serif;
}

p {
    color: #6B6C6F;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

h2 {
    color: #1665D8;
    font-size: 22px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.setwidth {
    min-width: 375px;
    max-width: 375px;
}

.border {
    border: solid 1px lightgrey;
}

.outer-padding {
    padding: 20px;
}

/* div {
    border: solid 1px grey;
} */

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-align-left {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.flex-grow-1 {
    flex-grow: 1;
}

.tdm-item-active {
    color: 3E3F42;
    border-bottom: solid 3px #27D381;;
}

.tdm-item-inactive {
    color: #3E3F42;
    border-bottom: solid 3px #3E3F42;
    opacity: 0.5;
}

#debt-payment {
    flex-grow: 2;
}

#debt-payment h4 {
    margin-left: 10px;
}

#how-to-use {
    padding: 5px;
    background-color: #F9FAFB;
    border-radius: 8px;
    margin-top: 5px;
}

.hide-on-mobile {
    display: none;
}

.score {
    color: #3E3F42;
    font-size: 36px;
    font-weight: 700;
}

.border-top {
    border-top: solid 1px lightgrey;
}

.target-score-grid {
    display: grid;
    grid-template-columns: 1fr;
}

#score-input-field {
    padding: 14px;
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    /* or 145% */
    display: flex;
    align-items: center;
    color: #3E3F42;
    border: 1px solid #D7DEE4;
    border-radius: 4px;
    height: 50px;
}

#score-slider {
    width: 335px;
    -webkit-appearance: none;
    height: 24px;
    /* Mathmetically Correct Ratio Slider */
    /* background-image: linear-gradient(to right, #F53758 47%, #F2C632 47% 82%, #27D381 82%); */
    /* Aesthetic Ratio Slider */
    background-image: linear-gradient(to right, #F53758 40%, #F2C632 40% 75%, #27D381 75%);
    outline: none;
    border: 1px solid #D7DEE4;
    border-radius: 4px;
}

#score-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 24px;
    cursor: pointer;
    border: 3.44565px solid #FFFFFF;
    box-shadow: 0px 0px 4.5942px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }

#score-slider::-moz-range-thumb {
    width: 15px;
    height: 24px;
    cursor: pointer;
    border: 3.44565px solid #FFFFFF;
    box-shadow: 0px 0px 4.5942px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
  }

#score-submit {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    height: 50px;
    background: #27D381;
    border: 1px solid #00C999;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(22, 29, 37, 0.1), inset 0px 2px 0px rgba(255, 255, 255, 0.06);
    border-radius: 4px;
}

#potential-impact-inner-container {
    border: solid 1px black;
    border-radius: 8px;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 29px;
}

#payment-container {
    border: solid 1px black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#payment-container-label {
    border-bottom: solid 1px black;
    border-radius: 8px 8px 0 0;
    background-color: #F5FAFF;
}

.payment-title {
    color: #1665D8;
}

.padding-10 {
    padding: 10px;
}

.points {
    color: black;
    font-weight: 500;
    font-size: 14px;
    margin-left: 7px;
}

.flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-centered-align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    height: 25px;
}

.flex-row-aligned {
    display: flex;
    align-items: center;
}

.section-title {
    font-size: 18px;
    color: #07025B;
}

.potential-points {
    color: black;
    font-weight: 500;
    font-size: 12px;
}

#how-to-use {
    padding: 15px 20px 13px 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-35 {
    margin-bottom: 35px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-top-35 {
    margin-top: 35px;
}