* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    font-style: normal;
}

body {
    color: #3E3F42;
    font-family: 'Heebo', sans-serif;
}

p {
    color: #6B6C6F;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

h2 {
    color: #1665D8;
    font-size: 22px;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.setwidth {
    min-width: 375px;
    max-width: 375px;
}

.border {
    border: solid 1px grey;
}

.outer-padding {
    padding: 20px;
}

/* div {
    border: solid 1px grey;
} */

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-align-left {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.flex-grow-1 {
    flex-grow: 1;
}

.tdm-item-active {
    color: black;
    border-bottom: solid 3px lime;
}

.tdm-item-inactive {
    color: lightgrey;
    border-bottom: solid 3px lightgrey;
}

#debt-payment {
    flex-grow: 2;
}

#debt-payment h4 {
    margin-left: 10px;
}

#how-to-use {
    padding: 5px;
    background-color: lightgrey;
    border-radius: 8px;
    margin-top: 5px;
}

.hide-on-mobile {
    display: none;
}

.score {
    color: #3E3F42;
    font-size: 36px;
    font-weight: 700;
}

.border-top {
    border-top: solid 1px lightgrey;
}

.target-score-grid {
    display: grid;
    grid-template-columns: 1fr;
}

#potential-impact-inner-container {
    border: solid 1px black;
    border-radius: 8px;
    padding: 20px;
}

#payment-container {
    border: solid 1px black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#payment-container-label {
    border-bottom: solid 1px black;
    border-radius: 8px 8px 0 0;
    background-color: #F5FAFF;
}

.payment-title {
    color: #1665D8;
}

.padding-10 {
    padding: 10px;
}

.points {
    color: black;
    font-weight: 500;
    font-size: 14px;
}

.flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-centered-align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    height: 25px;
}

.flex-row-aligned {
    display: flex;
    align-items: center;
}

.section-title {
    font-size: 18px;
    color: #07025B;
}

.potential-points {
    color: black;
    font-weight: 500;
    font-size: 12px;
}

#how-to-use {
    padding: 15px 20px 13px 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-35 {
    margin-bottom: 35px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-top-35 {
    margin-top: 35px;
}